
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .container-class{
    width: 80%;
    margin: 35px ;
}
.container {
    width: 80%;
    margin: 35px ;
}

.main-header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0px;
}
.right-section ul {
    display: flex;
    list-style: none;
  
   

}
.right-section{
    display: flex;
    align-items: center;
}
.road-assistance{
    display: flex;
    padding-left: 20px;
}

.right-section ul li a{ 
    text-decoration: none;
color: #000;
}
.right-section .navigation {
    border-right: 2px solid #ccc;
}
.road-assistance .icon {
margin-right: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}


.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section{
    width: 45%;
} 

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(../img/header-image.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

.quote-flex {
    display: flex;
}


#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px; 
}

#quote-section .left-section .image-box img {
    width: 100%;
}


#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3{
    font-size: 48px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}



.auto-repair .text-area1 , .auto-repair .text-area2 {
    width: 40%;
    margin: 50px;
}
.auto-repair .text-area1 h4 {
    font-size: 58px;

}


.orange-btn{
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
   display: inline-block;
   margin-top: 35px;

}
.image-box {
    width: 72px;
    height: 72px;
    border-top-left-radius: 1px solid #FF6433;
    margin-top: 20px;
}
#list-style {
   list-style: none; 
}
.text-box{
    padding: 20px;
}
.text-box h4 {
    margin-bottom: 10px;
    font-size:32px;
}
.pg{
    font-size: 18px;
}
.offer-section  {
text-align: center;
/* background-color: #ccc; */
  

}
.offer-img{
flex-wrap: wrap;
justify-content: center;
margin-left: 30px;
background: whitesmoke;

}

#link {
    font-size: 24px;
    margin-bottom: 20px;
}
#icon {
    color: #000;
}
/* .container {
    margin: 30px;
    margin-bottom: 30px;
} */
#full-service{
margin-bottom: 50px;
font-size: 58px;
text-align: center;
}

#wwo {
    text-align: center;
}
    

.about {
    text-align: right;
}
#icon{
    margin-top: 40px;
}

#link {
    text-decoration: none;
    color: #000;
    margin-bottom: 40px;
    padding: 20px;
}
    .number {
     font-size: 58px;
     font-family: Manrope ;
     color:  #661CE7;

     }

     /* .get-image-section {
        background-image: url(../img/CTA.png);
        background-size: cover;
        min-height: 68vh;
     } */
     .tools {
         display: flex;
     }
#tool-section .car-section {
width: 20%;
height: 500px;
background: url(../img/car.png);
background-size: cover;
background-position: left;
}

#tool-section .orange-section {
width: 40%;
background: #FF6433;
height: 500px;
}

 #tool-section .orange-section h2 {
font-size: 48px;
padding: 45px;
margin-top: 30px;
color: #fff;
} 
#tool-section .orange-section .orange-btn {
    background: black;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    margin-left: 35px;
    display: inline-block;
    color: #fff;
}
#tool-section .auto-section {
    width: 40%;
    height: 500px;
    background: url(../img/cartool.png);
    background-size: cover;
    background-position: center;
    }

     .rating {
       display: flex;
       justify-content: space-between;
      margin: 35px;
      }


      /* #brand-served {
        font-size: 48px;
        text-align: center;
        }

      #brand-row1 {
        display: flex;
      max-width: 100vh;

    }
     .brand1-2 {
          
      }
    
       #brand-row2 {
          display: flex;
        max-width: 100vh;  */

        .brand1-2 {
        flex-wrap: wrap;
        margin-left: 20px;
        }
        
        #brand-served {
            font-size: 48px;
            text-align: center;
            }
        #our-customer {
        font-size: 48px;
        text-align: center;
        margin-top: 40px;
        }

        .testimony-1 {
            display: flex;
            margin-top: 45px;
        
        }

        .left-testimony {
            border: 1px solid #000;
            width: 40%;
            margin: 30px;
        }

        #testimonial-name {
            padding: 20px;
        }

        .testimony-2 {
            display: flex;
            margin-top: 45px;
        
        }

        .right-testimony {
            border: 1px solid #000;
            width: 40%;
            margin: 30px;
        }

        #testimonial-name {
            padding: 20px;
        }

        .testimony-section {
            display: flex;
           justify-content: center;
    
        }


        #faq-section {
            background: #E2E6E9;
            min-height: 100vh;
            padding: 80px 0;
        }
        #faq-section  h2 {
            text-align: center;
            padding-bottom: 40px;
        }

        #faq-section .faq-main-box {
            width: 60%;
            height: 800px;
            margin: 0 auto;
        }
        #faq-section .faq-main-box .faq-box {
            background: #fff;
            padding: 20px;
            margin-bottom: 15px;
        }
        #faq-section .faq-main-box .faq-box  .faq-control{
            background: #FF6433;
            width: 51.08px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 900;
            cursor: pointer;
        }

        .faq-box .header-section h4 {
            font-weight: 600;
            font-size: 24px;
        }
        .faq-box .header-section {
            display: flex;
            justify-content: space-between;
        }
       
       .faq-box .answer-section {
          padding-top: 10px;
       }
       .faq-box .answer-section  .answer-box {
           width: 80%;
       }
        
        .footer-section {
            background-color: #000;
            color: #fff;
            display: flex;
          justify-content: space-between;
           
        }
        .footer-topleft{
        width: 45%;
        padding: 25px;
        }

        #footer-lefttext{
         font-size: 48px;
         margin-top: 45px;

        }

        .social-handles{
            display: flex;
            margin-left: 10px;
            padding: 40px;
           

         }
         
         .footer-topright{
          width: 55%;
          padding: 25px;
         }
         #help-no{
            font-size: 18px;
            margin: 45px 0px 10px 0px;
         }
         #address{
             font-size: 18px;
             margin-top: 30px;
        }
        #nh234{
            font-size: 24px;
            margin-top: 10px;
        }

        #wao {
            font-size: 16px;
            margin-top: 45px;
        }
        #monday {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 40px;
        }
         .footer-bottom {
            border: 1px solid #000;
          background: #000;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0px;
        
       }

       .bottom-nav {
           display: flex;
           justify-content: space-between;
           list-style: none;
          
       }

       .footer-bottom .bottom-nav  li a {
        text-decoration: none;
        color: #fff;
         padding: 20px; 
       }

        /* mobile-view */
        @media (max-width: 426px) {
            .main-header {
            flex-direction: column;
            align-items: flex-start;
            }

        .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
        }

        .right-section .navigation ul {
            flex-direction: column;
        }

        .right-section .navigation {
          border: none;
          width: 100%;

         }

         .right-section ul li {
         padding: 10px 0;
         margin-right: 0;
         }

         .right-section ul li a {
             display: block;
            
         }
         .road-assistance {
             padding: 10px 0;
         }
         .flex.flex-sm-column {
            flex-direction: column;
        }
        #hero-section .text-section, #hero-section .image-section {
            width: 100%;
        }
        #hero-section .text-section {
            
                order: 2;
            }
            
            #hero-section .image-section {
                order: 1;
            }
            .text-section h1 {
                font-size: 35px

            }

            .flex.flex-sm-column {
                flex-direction: column;
            }

        #quote-section .left-section, #quote-section .right-form-section {
            width: 100%;
        }
        
        #quote-section ul {
            width: 100%;
            justify-content: left;
            display: block;
            margin-right: 20px;
        }

        #quote-section .left-section h2 {
        font-size: 35px;
        }


        #quote-section .right-form-section h3 {
            font-size: 35px;
        } 

        .auto-repair .text-area1{
        width: 100%;
        padding-bottom: 20px;
        }

        .auto-repair .text-area2{
            width: 100%;
            padding-bottom: 20px;
            }

        .text-area1 h4 {
            font-size: 35px;
            margin-bottom: 15px;
        }
        
        

        .auto-repair .text-area1 h4 {
        font-size: 35px;
        }
        .auto-repair .image-box img {
        width: 50px;
        height: 50px;
        }

    .auto-repair .text-box h4 {
    font-size: 30px;
}
    #wwo {
        text-align: center;
    }
        #full-service {
            font-size: 35px;
            margin-bottom: 40px;
            text-align: center;

        }
            #brand-served {
                width: 100%;
                font-size: 35px;
                text-align: center;
        }
        .brand1-2 {
            display: flex;
            width: 45%;
        }
    
        #tool-section .car-section, #tool-section .orange-section ,#tool-section .auto-section {
           width: 100%;
           
        }
            .testimony-section {
             flex-direction: column;
            }

        .right-testimony .left-testimony  {
            width: 100%;
            display: block;
        }

        #faq-section .faq-main-box {
            width: 100%;
        }

        .footer-section {
            flex-direction: column;
            width: 100%;
            
        }

        
        .testimony-1  .testimony-2 { 
            display: block;
        }


        #our-customer {
            font-size: 30px;
        }

        .footer-topleft {
            width: 100%;
            font-size: 40px;
            }
    
        #footer-lefttext {
            font-size: 30px;
        }


        .footer-topright {
            width: 100%;

        }
        .bottom-nav {
            margin-left: 20px;
        }
    #copyright {
        margin-left: 20px;
    }

     html, body{
         max-width: 100%;
            overflow-x: hidden;
        }

    }
        /* Tablet-view */
    @media(max-width: 769px) {
        .main-header {
            flex-direction: column;
            align-items: flex-start;
        }
        .main-header .img {
      padding: 0 20px 20px 20px;
        }

        .main-header .right-section {
            margin: 0 10px 10px 10px;
          
        }
        
        #wwo {
            text-align: center;
        }
        #full-service {
            font-size: 30px;
        }

        .offer-img {
        background: whitesmoke;
        justify-content: center;
        }
    
    #footer-logo{
        margin-left: 15px; 
    }
        html, body{
            max-width: 100%;
               overflow-x: hidden;
           }
           #tool-section .orange-section h2  {
           font-size: 30px;
            
         } 
        
        }